
.border-curve-div4{
    border-radius: 40% 0% 25% 25% / 60% 100% 0% 38%;
    
    border-left: 5px solid #22f1d2 ;
    
    
   
}
.border-curve-div1{
    border-radius: 80% 0% 0% 30% / 70% 50% 0% 38%;
   
    
    border-left: 5px solid #22f1d2 ;
    
    
   
}
.border-curve-div2{
    border-radius: 70% 0% 0% 30% / 60% 50% 0% 38%;
   
    
    border-left: 5px solid #22f1d2 ;
    
    
   
}
.border-curve-div3{
    border-radius: 50% 0% 0% 30% / 60% 50% 0% 38%;
   
    
    border-left: 5px solid #22f1d2 ;
    
    
   
}


.curveImage{
    
        background-size:560px 560px ;
         background-repeat: no-repeat;
        background-position: center;
                             
    
}

.curve-p{
    writing-mode: vertical-rl;
    transform: rotate(190deg);
}

.border-small{
    border-bottom: 5px solid #22f1d2;
    

}
.border-extra-small{
    border-bottom: 5px solid #22f1d2;
    border-left: 5px solid #22f1d2;
    border-right: 5px solid #22f1d2;
    

}