.roadmap-image{
    background-size: 1022px 173px ;
    background-repeat: no-repeat;
    background-position: center;
               
}



@media screen and (max-width:576px) {
    .roadmap-image{
        background-size:400px 90px ;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 45px;
                   
    }
}