

.tokenomics-image{
    background-size:550px 270px ;
     background-repeat: no-repeat;
                         
}

.tokenomics-button{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #003084;
}

@media screen and (max-width:576px) {
    .tokenomics-image{
        background-size:290px 130px ;
         background-repeat: no-repeat;
                             
    }
}