.big-circle {
    
    position: relative;
    
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    animation: Rotate 20s linear infinite;
    -webkit-animation: Rotate 20s linear infinite;
  }
.circle2 {
    
    position: relative;
    
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    animation: Rotate 20s linear infinite;
    -webkit-animation: Rotate 20s linear infinite;
  }

  .big-circle {
    animation: Rotate 30s linear infinite;
  }
  .circle2{
    animation: Rotated-reverse 30s linear infinite;
  }


  .curve-image{
    
    background-size:560px 560px ;
     background-repeat: no-repeat;
    background-position: center;
                         

}

@media screen and (max-width:576px) {
  .curve-image{
    
    background-size:180px 180px ;
     background-repeat: no-repeat;
    background-position: center;
                         

}
    
}

  /* .bg-light{
    background-size:1300px 450px ;
    background-repeat: no-repeat;
    background-position: bottom;
  } */

  @keyframes Rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes Rotated-reverse {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(-360deg);
    }
  }